<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>srvLogin</servlet-name>
        <servlet-class>mx.ilce.servlet.Login.srvLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvForma</servlet-name>
        <servlet-class>mx.ilce.servlet.forma.srvForma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvFormaInsert</servlet-name>
        <servlet-class>mx.ilce.servlet.forma.srvFormaInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvFormaUpdate</servlet-name>
        <servlet-class>mx.ilce.servlet.forma.srvFormaUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvFormaDelete</servlet-name>
        <servlet-class>mx.ilce.servlet.forma.srvFormaDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvFormaSearch</servlet-name>
        <servlet-class>mx.ilce.servlet.forma.srvFormaSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvGrid</servlet-name>
        <servlet-class>mx.ilce.servlet.grid.srvGrid</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvLogin</servlet-name>
        <url-pattern>/srvLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvForma</servlet-name>
        <url-pattern>/srvForma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvFormaInsert</servlet-name>
        <url-pattern>/srvFormaInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvFormaUpdate</servlet-name>
        <url-pattern>/srvFormaUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvFormaDelete</servlet-name>
        <url-pattern>/srvFormaDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvFormaSearch</servlet-name>
        <url-pattern>/srvFormaSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvGrid</servlet-name>
        <url-pattern>/srvGrid</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
