html, body{
height:100%;width:100%;
margin:0;padding:0;overflow:auto;
font-size:80%;
}

#search {width: 98%; }
form.forma {font-size: 1em !important; width: 100%; margin:5px; }
.ui-widget button {font-size: 12px !important; font-family:Verdana, Arial, Helvetica, sans-serif !important }
table.forma { width: 100%; margin:0px;}
form.forma { width: 100%; margin:5px;}
h3.searchtitle {font-size: 1.2em; font-weight: bold; font-family:Verdana, Arial, Helvetica, sans-serif}
td.etiqueta_forma {width: 24.5%; margin:5px; font-family:Verdana, Arial, Helvetica, sans-serif; vertical-align:top; text-align:right;  font-size: 12px !important }
div.etiqueta_forma { font-size: 12px; font-weight: normal; font-family:Verdana, Arial, Helvetica, sans-serif; text-align:right }
input.singleInput { font-weight: normal; font-family:Verdana, Arial, Helvetica, sans-serif; width: 100%; }
textarea.singleInput { font-weight: normal; font-family:Verdana, Arial, Helvetica, sans-serif; width: 100%; float: left;  }
select.singleInput { font-weight: normal; font-family:Verdana, Arial, Helvetica, sans-serif; width: 100%; }
input.inputWidgeted { font-weight: normal; font-family:Verdana, Arial, Helvetica, sans-serif;  font-size: 12px;float: left; width: 88%}
select.inputWidgeted { font-weight: normal; font-family:Verdana, Arial, Helvetica, sans-serif; width: 82%; float: left; font-size: 12px; height:18px !important}
.foreign_toolbar { float:right }

#header{height:32px; background-color: #BDD2FF}/* Header */

.splitterContainer {/* Main splitter element */
height:100%;
width:100%;
margin:0;padding:0;
border: 0px solid #aaa;
}

.vsplitbar {
	width: 5px;
	background:  url(img/vgrabber.gif) no-repeat center;        
}


.leftPane{
/*float:left;width:220px;height:100%;border-top:solid 1px #9cbdff;
background:#c4dcfb; */
width:220px;
overflow: auto;

}
.rightPane{	/*Contains toolbar and horizontal splitter*/
    /*float:right;width:auto;height:100%;
    background:#f4f4f4;*/
    width:auto;
    overflow: auto;
}



#banner{height: 80px;}
.logo_plataforma {}


.txtBusquedaSencilla {width:80%; font-family:Verdana, Arial, Helvetica, sans-serif !important; font-size: 12px !important; }
.btnBusquedaSencilla { font-family:Verdana, Arial, Helvetica, sans-serif !important; font-size: 12px !important; }
.lnkPerfil {   
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.8em;  }

#search {margin:0;padding:5px;}

.accordionHeader { display: table; width: 100%; border-top: 10px solid #FFFFFF;}
#tabs { margin-top: 1em; }
#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
ui-jqgrid-view {width:100%}

.ui-widget-header { border: 1px solid #aed0ea; background: #deedf7 url(images/ui-bg_highlight-soft_100_deedf7_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold !important; }

/*.ui-widget-content {
    background: url("cupertino/images/ui-bg_highlight-hard_100_f2f5f7_1x100.png") repeat-x scroll 50% top #F2F5F7 !important;
}*/

.ui-state-highlight {
    background: url("cupertino/images/ui-bg_highlight-soft_25_ffef8f_1x100.png") repeat-x scroll 50% top #FFEF8F;
    border: 1px solid #F9DD34;
    color: #363636 !important;
}
.ui-paging-info { font-size: 11px; }
.ui-pg-table { font-size: 11px; }
.ui-state-error { font-size: 1em;}
.cargando { font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 10px;  }
.ui-jqgrid-btable, .ui-jqgrid-labels, .ui-jqgrid  { font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 11px }

input.formButton { font-size: 12px !important; font-style: normal; font-family:Verdana, Arial, Helvetica, sans-serif !important  }
.obigatorio {}
.fecha {}
.foreign_toolbar {}
.errorencampo {border: 1px solid #FF6600;  }

td.errorencampo { color: #FF6600; font-weight:bold; border:none; }

.queued_grids {
    float: right;
    width:98%;
}

.treeContainer {
    border: 1px solid gray;
    /*float: left;*/
    height: 100%;
    overflow:auto;
    width:auto; 
    background-color:white;
}

.gridContainer {
    /*float: right;
    width: 100%; */
    margin-left:5px
}

.gridKardexContainer {
    /*float: left;
    width: 56%;*/
    margin-left:5px
}
.accordionContainer {
    float: left;
    width: 100%;
    height: 65%
}

div.user_avatar>img {
    height: 50px;
    width: 45px;
}

.gridForeignContainer {
    float: left;
    width: 450px;
    height: 400px;
}

.desktopGridContainer {
    overflow:auto;
    float: left;
    width: 95%;
}

.treeProfiles {
    border: 1px solid gray;
    float: none;
    height:200px;
    overflow: auto;
    width: 100%;
    background-color:white;
    margin-top: 5px;
}

div.etiqueta_perfil {
    font-size: 12px; font-weight: normal; font-family:Verdana, Arial, Helvetica, sans-serif;
}

td.etiqueta_perfil {
    font-size: 12px;
    font-family:  Verdana, Arial, Helvetica, sans-serif !important
}

.ui-dialog-title {
    font-size: 12px;
}

.ui-tabs {
    overflow: auto;
}

.active_filter {
    background-color:silver;
}

.link_toolbar {
    display: inline-block;
    margin-bottom: 1px;
    width: 100%;
}

a.linkSearch {
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 11px;

} 

div.linkSearch {
    float: left;
    width: 80%;
    margin-bottom: 10px;
}

#tabUser {
    height: 100%; 
    margin: 1px; 
}

td.estatus_bar {
    font-size: 10px;
    width: 50%;
    vertical-align:middle;
    font-family:  Verdana, Arial, Helvetica, sans-serif !important;
}



a.appMenu:link {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 11px; text-decoration: none;
}

a.appMenu:visited {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 11px; text-decoration: none;
}

a.appMenu:hover  {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 11px; text-decoration: none;
    color: #FF6600;
}

a.appMenu:active  {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 11px; text-decoration: none;
    color: #FF6600;
}

.app_search_title {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 11px;
    font-weight:bold;
}

a.appMenuTitle {
   font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 12px; text-decoration: none;
}


.wait { cursor: wait;}

#msjLogin { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight:bold  }

div.accordionContainer > span.ui-icon {
    position: static;   
    height: 20px;
    margin-top: 0px; 
    margin-top: 3px;
}


.accordionContainer>h3>span.ui-icon {
    float: right;
    margin-left: -16px !important;
    margin-top: 4px !important;
    position: static !important;
}

.accordionContainer>h3 {
   vertical-align:middle;
   height: 25px;
   line-height: 25px; 
   font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
   font-size: 11px;
}

.user_avatar {
    float: left;
    clear: left;
    margin-bottom: 5px;
}

.bitacora {
    float:right;
    width: 100%;
    clear: right;
    /*border-bottom: #9AAEDB thin solid;*/
    margin-bottom: 10px;
}

img.bitacora {
    float: left;
    margin-right: 5px;
    vertical-align:top;
    width: 35px;
    height: 40px;
    border-bottom:none;
}

.column1 { width: 70%; float: left; padding-bottom: 100px; }
.column2 { width: 30%; float: right; padding-bottom: 100px; }
.portlet { margin: 0 1em 1em 0; }
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 30px !important; }
.ui-sortable-placeholder * { visibility: hidden; }
.blank_space { border-bottom: 10px; width: 15px}
.progressbar {width: 85%; height: 10px; float: left;}
.progress_percentage{float:right;}

.paddingzero {padding: 0 !important}
.fileinput-input { width: 90px !important;}
.ui-menu { position: absolute;  z-index: 100;}
.menus_plataforma {
    display: inline-block;
    width: 100%; }

span.session_menu {
   border: 0 !important;
   background: url("");
   font-size: 14px;
   text-decoration: none;
}

a.session_menu {
   border: 0 !important;
   background: url("");
   font-size: 12.5px;
   text-decoration: none;
}

.ui-widget-overlay {
    background: url("images/ui-bg_flat_15_cd0a0a_40x100.png") repeat scroll 50% 50% #EEEEEE;
    opacity: 0.8;
}