html, body{
height:100%;width:100%;
margin:0;padding:0;overflow:auto;
font-size:80%;
}

#search {width: 98%; }
form.forma {font-size: 1em !important; width: 100%; margin:5px; }
.ui-widget button {font-size: 12px !important; font-family:Verdana, Arial, Helvetica, sans-serif !important }
table.forma { width: 100%; margin:0px;}
form.forma { width: 100%; margin:5px;}
h3.searchtitle {font-size: 1.2em; font-weight: bold; font-family:Verdana, Arial, Helvetica, sans-serif}
td.etiqueta_forma {width: 24.5%; margin:5px; font-family:Verdana, Arial, Helvetica, sans-serif; vertical-align:top; text-align:right;  font-size: 12px !important }
div.etiqueta_forma { font-size: 12px; font-weight: normal; font-family:Verdana, Arial, Helvetica, sans-serif; text-align:right }
input.singleInput { font-weight: normal; font-family:Verdana, Arial, Helvetica, sans-serif; width: 100%; }
textarea.singleInput { font-weight: normal; font-family:Verdana, Arial, Helvetica, sans-serif; width: 100%; float: left;  }
select.singleInput { font-weight: normal; font-family:Verdana, Arial, Helvetica, sans-serif; width: 100%; }
input.inputWidgeted { font-weight: normal; font-family:Verdana, Arial, Helvetica, sans-serif;  font-size: 12px;float: left; width: 88%}
select.inputWidgeted { font-weight: normal; font-family:Verdana, Arial, Helvetica, sans-serif; width: 82%; float: left; font-size: 12px; height:18px !important}
.foreign_toolbar { float:right }

#header{height:32px; background-color: #BDD2FF}/* Header */

.splitterContainer {/* Main splitter element */
height:95%;width:100%;margin:0;padding:0;
}
.leftPane{
float:left;width:220px;height:100%;border-top:solid 1px #9cbdff;
background:#c4dcfb;
overflow: auto;
}
.rightPane{	/*Contains toolbar and horizontal splitter*/
float:right;width:auto;height:100%;
background:#f4f4f4;
}
#rightSplitterContainer{/*horizontal splitter*/
width:100%;
background:#FFFFFF;border-top:solid 1px #9cbdff;
}

#rightTopPane{/*Top nested in horizontal splitter */
width:100%;height:50%;overflow:auto;background:#f4f4f4;
}
#rightBottomPane{/*Bottom nested in horizontal splitter */
background:#f4f4f4;width:100%;overflow:auto;
}

/* Splitbar styles; these are the default class names and required styles */
.splitbarV {
float:left;width:6px;height:100%;
line-height:0px;font-size:0px;
border-left:solid 1px #9cbdff;border-right:solid 1px #9cbdff;
background:#cbe1fb url(img/panev.gif) 0% 50%;
}

.splitbarH {
height:6px;text-align:left;line-height:0px;font-size:0px;
border-top:solid 1px #9cbdff;border-bottom:solid 1px #9cbdff;
background:#cbe1fb url(img/paneh.gif) 50% 0%;
}

.splitbuttonV{
margin-top:-41px;margin-left:-4px;top:50%;position:relative;
height:83px;width:10px;
background:transparent url(img/panevc.gif) 10px 50%;
}
.splitbuttonV.invert{
margin-left:0px; background:transparent url(img/panevc.gif) 0px 50%;
}
.splitbuttonH{
margin-left:-41px;left:50%;position:relative;
height:10px; width:83px;
background:transparent url(img/panehc.gif) 50% 0px;
}
.splitbuttonH.invert{
margin-top:-4px;background:transparent url(img/panehc.gif) 50% -10px;
}
.splitbarV.working,.splitbarH.working,.splitbuttonV.working,.splitbuttonH.working{
 -moz-opacity:.50; filter:alpha(opacity=50); opacity:.50;
}

a.sesion_menu,td.session_menu {
color:#FF6600; font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-decoration: none;
}


#banner{height: 80px;}
.logo_plataforma {float:right;}
#spacer_menu {background-color: #BDD2FF; width: 50%}

#nav_menu {width: 100%; height: 32px; background-color: #BDD2FF;}

.txtBusquedaSencilla {width:80%; font-family:Verdana, Arial, Helvetica, sans-serif !important; font-size: 12px !important; }
.btnBusquedaSencilla { font-family:Verdana, Arial, Helvetica, sans-serif !important; font-size: 12px !important; }
.lnkPerfil {   
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.8em;  }

#search {margin:0;padding:5px;}

.accordionHeader { display: table; width: 100%; border-top: 10px solid #FFFFFF;}
#tabs { margin-top: 1em; }
#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
ui-jqgrid-view {width:100%}

.ui-widget-header { border: 1px solid #aed0ea; background: #deedf7 url(images/ui-bg_highlight-soft_100_deedf7_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold !important; }

/*.ui-widget-content {
    background: url("cupertino/images/ui-bg_highlight-hard_100_f2f5f7_1x100.png") repeat-x scroll 50% top #F2F5F7 !important;
}*/

.ui-state-highlight {
    background: url("cupertino/images/ui-bg_highlight-soft_25_ffef8f_1x100.png") repeat-x scroll 50% top #FFEF8F;
    border: 1px solid #F9DD34;
    color: #363636 !important;
}
.ui-paging-info { font-size: 11px; }
.ui-pg-table { font-size: 11px; }
.ui-state-error { font-size: 1em;}
.cargando { font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 10px;  }
.ui-jqgrid-btable, .ui-jqgrid-labels, .ui-jqgrid  { font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 11px }

input.formButton { font-size: 12px !important; font-style: normal; font-family:Verdana, Arial, Helvetica, sans-serif !important  }
.obigatorio {}
.fecha {}
.foreign_toolbar {}
.errorencampo {border: 1px solid #FF6600;  }

td.errorencampo { color: #FF6600; font-weight:bold; border:none; }

.queued_grids {
    float: right;
    width:98%;
}

.treeContainer {
    border: 1px solid gray;
    float: left;
    height: 97%;
    overflow:auto;
    width: 97%;
    background-color:white;
}

.gridContainer {
    float: left;
    width: 76%;
    margin-left:5px
}

.gridKardexContainer {
    float: left;
    width: 56%;
    margin-left:5px
}
.accordionContainer {
    float: right;
    width: 20%;
    height: 65%
}

div.user_avatar>img {
    height: 50px;
    width: 45px;
}

.gridForeignContainer {
    float: left;
    width: 450px;
    height: 400px;
}

.desktopGridContainer {
    overflow:auto;
    float: left;
    width: 95%;
}

.treeProfiles {
    border: 1px solid gray;
    float: none;
    height:200px;
    overflow: auto;
    width: 100%;
    background-color:white;
    margin-top: 5px;
}

div.etiqueta_perfil {
    font-size: 12px; font-weight: normal; font-family:Verdana, Arial, Helvetica, sans-serif;
}

td.etiqueta_perfil {
    font-size: 12px;
    font-family:  Verdana, Arial, Helvetica, sans-serif !important
}

.ui-dialog-title {
    font-size: 12px;
}

.ui-tabs {
    overflow: auto;
}

.active_filter {
    background-color:silver;
}

.link_toolbar {
    display: inline-block;
    margin-bottom: 1px;
    width: 100%;
}

a.linkSearch {

} 

div.linkSearch {
    float: left;
    width: 85%;
    margin-bottom: 10px;
}

#tabUser {
    height: 100%; 
    margin: 1px; 
    
}

td.estatus_bar {
    font-size: 10px;
    width: 50%;
    vertical-align:middle;
    font-family:  Verdana, Arial, Helvetica, sans-serif !important;
}



a.appMenu:link {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 11px; text-decoration: none;
}

a.appMenu:visited {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 11px; text-decoration: none;
}

a.appMenu:hover  {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 11px; text-decoration: none;
    color: #FF6600;
}

a.appMenu:active  {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 11px; text-decoration: none;
    color: #FF6600;
}

.app_search_title {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 11px;
    font-weight:bold;
}

a.appMenuTitle {
   font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 12px; text-decoration: none;
}


.wait { cursor: wait;}

#msjLogin { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight:bold  }

div.accordionContainer > span.ui-icon {
    position: static;   
    height: 20px;
    margin-top: 0px; 
    margin-top: 3px;
}


.accordionContainer>h3>span.ui-icon {
    float: right;
    margin-left: -16px !important;
    margin-top: 4px !important;
    position: static !important;
}

.accordionContainer>h3 {
   vertical-align:middle;
   height: 25px;
   line-height: 25px;
}

.user_avatar {
    float: left;
    clear: left;
    margin-bottom: 5px;
}

.bitacora {
    float:right;
    width: 100%;
    clear: right;
    /*border-bottom: #9AAEDB thin solid;*/
    margin-bottom: 10px;
}

img.bitacora {
    float: left;
    margin-right: 5px;
    vertical-align:top;
    width: 35px;
    height: 40px;
    border-bottom:none;
}

.column1 { width: 70%; float: left; padding-bottom: 100px; }
.column2 { width: 30%; float: right; padding-bottom: 100px; }
.portlet { margin: 0 1em 1em 0; }
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 30px !important; }
.ui-sortable-placeholder * { visibility: hidden; }

.app_error {
    
}